<div class="row">
  <div class="columns medium-10 small-centered">
    <div class="container">
     <br />
      <h2>Hi Alice, here's some upcoming gigs you may be interested in –</h2>
      <ul class="event-listings artists-summary">
        <li title="Saturday 09 May 2015">
          <time datetime="2015-05-09T19:00:00+0100"></time>
          <a href="/listing" class="thumb">
            <img src="//images.sk-static.com/images/media/profile_images/artists/529205/large_avatar" width="74" height="74" class="artist-profile-image artist" alt="Super Furry Animals live">
          </a>
          <p class="artists summary">
            <a href="/listing">
              <span>
                <strong>Super Furry Animals</strong>
                The Magic Numbers
              </span>
            </a>
          </p>
          <p class="location">
            <span class="venue-name">
            <a href="/listing">O2 Academy Brixton</a>
            </span>,
            <span>
              <span>
                London, UK
              </span>
              <span class="street-address">211 Stockwell Road</span>
            </span>
          </p>
        </li>
        <li title="Saturday 09 May 2015">
          <time datetime="2015-05-09T20:00:00+0100"></time>
          <a href="/listing" class="thumb">
            <img src="//images.sk-static.com/images/media/profile_images/artists/2444006/large_avatar" width="74" height="74" class="artist-profile-image artist" alt="Chinese Man live">
          </a>
          <p class="artists summary">
            <a href="/listing">
              <span>
                <strong>Chinese Man</strong>    
              </span>
            </a>
          </p>
          <p class="location">
            <span class="venue-name">
            <a href="/listing">The Forum</a>
            </span>,
            <span>
              <span>
                London, UK
              </span>
              <span class="street-address">9-17 Highgate Road</span>
            </span>
          </p>
        </li>
        <li title="Saturday 09 May 2015">
          <time datetime="2015-05-09T19:00:00+0100"></time>
          <a href="/listing" class="thumb">
            <img src="//images.sk-static.com/images/media/profile_images/artists/4601908/large_avatar" width="74" height="74" class="artist-profile-image artist" alt="Alabama Shakes live">
          </a>
          <p class="artists summary">
            <a href="/listing">
              <span>
                <strong>Alabama Shakes</strong>
              </span>
            </a>
          </p>
          <p class="location">
            <span class="venue-name">
            <a href="/listing">Oslo Hackney</a>
            </span>,
            <span>
              <span>
                London, UK
              </span>
              <span class="street-address">1A Amhurst Road</span>
            </span>
          </p>
        </li>
        <li title="Saturday 09 May 2015">
          <time datetime="2015-05-09T22:30:00+0100"></time>
          <a href="/listing" class="thumb">
            <img src="//images.sk-static.com/images/media/profile_images/artists/104107/large_avatar" width="74" height="74" class="artist-profile-image artist" alt="Sash! live">
          </a>
          <p class="artists summary">
            <a href="/listing">
              <span>
                <strong>Sash!</strong>
                Laurent Schark
              </span>
            </a>
          </p>
          <p class="location">
            <span class="venue-name">
            <a href="/listing">Hoxton Square Bar &amp; Kitchen</a>
            </span>,
            <span>
              <span>
                London, UK
              </span>
              <span class="street-address">2-4 Hoxton Square</span>
            </span>
          </p>
        </li>
        <li title="Saturday 09 May 2015">
          <time datetime="2015-05-09T19:00:00+0100"></time>
          <a href="/listing" class="thumb">
            <img src="//images.sk-static.com/images/media/profile_images/artists/529205/large_avatar" width="74" height="74" class="artist-profile-image artist" alt="Super Furry Animals live">
          </a>
          <p class="artists summary">
            <a href="/listing">
              <span>
                <strong>Super Furry Animals</strong>
                The Magic Numbers
              </span>
            </a>
          </p>
          <p class="location">
            <span class="venue-name">
            <a href="/listing">O2 Academy Brixton</a>
            </span>,
            <span>
              <span>
                London, UK
              </span>
              <span class="street-address">211 Stockwell Road</span>
            </span>
          </p>
        </li>
        <li title="Saturday 09 May 2015">
          <time datetime="2015-05-09T20:00:00+0100"></time>
          <a href="/listing" class="thumb">
            <img src="//images.sk-static.com/images/media/profile_images/artists/2444006/large_avatar" width="74" height="74" class="artist-profile-image artist" alt="Chinese Man live">
          </a>
          <p class="artists summary">
            <a href="/listing">
              <span>
                <strong>Chinese Man</strong>    
              </span>
            </a>
          </p>
          <p class="location">
            <span class="venue-name">
            <a href="/listing">The Forum</a>
            </span>,
            <span>
              <span>
                London, UK
              </span>
              <span class="street-address">9-17 Highgate Road</span>
            </span>
          </p>
        </li>
        <li title="Saturday 09 May 2015">
          <time datetime="2015-05-09T19:00:00+0100"></time>
          <a href="/listing" class="thumb">
            <img src="//images.sk-static.com/images/media/profile_images/artists/4601908/large_avatar" width="74" height="74" class="artist-profile-image artist" alt="Alabama Shakes live">
          </a>
          <p class="artists summary">
            <a href="/listing">
              <span>
                <strong>Alabama Shakes</strong>
              </span>
            </a>
          </p>
          <p class="location">
            <span class="venue-name">
            <a href="/listing">Oslo Hackney</a>
            </span>,
            <span>
              <span>
                London, UK
              </span>
              <span class="street-address">1A Amhurst Road</span>
            </span>
          </p>
        </li>
        <li title="Saturday 09 May 2015">
          <time datetime="2015-05-09T22:30:00+0100"></time>
          <a href="/listing" class="thumb">
            <img src="//images.sk-static.com/images/media/profile_images/artists/104107/large_avatar" width="74" height="74" class="artist-profile-image artist" alt="Sash! live">
          </a>
          <p class="artists summary">
            <a href="/listing">
              <span>
                <strong>Sash!</strong>
                Laurent Schark
              </span>
            </a>
          </p>
          <p class="location">
            <span class="venue-name">
            <a href="/listing">Hoxton Square Bar &amp; Kitchen</a>
            </span>,
            <span>
              <span>
                London, UK
              </span>
              <span class="street-address">2-4 Hoxton Square</span>
            </span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>