<div class="landing-page"><div>
  <div class="logo"><%= link_to image_tag('logo.svg', alt: 'GiggyPOP'), root_path %></div>
  <h2>Lust for live</h2>
  <%= link_to 'Sign up', sign_up_path, :class => 'button' %>
</div></div>