<div class="row">
  <div class="columns medium-10 small-centered">
    <div class="container">
      <div class="listing-page">
        <div class="profile-picture-and-actions">
          <div class="profile-picture-wrapper">
            <img class="profile-picture event" src="//images.sk-static.com/images/media/profile_images/artists/4601908/card_avatar" alt="Alabama Shakes live" title="Alabama Shakes live" width="220" height="185">
          </div>
          <div class="event-moderation-actions">
            <div class="flag-event">
            </div>
          </div>
        </div>
        <div class="date-and-name">
          <h5>Saturday 09 May 2015</h5>
        </div>
        <h1 class="summary">
        <span><a data-analytics-category="event_brief" data-analytics-label="headliners" href="/artists/4601908-alabama-shakes">Alabama Shakes</a></span>
        </h1>
        <div class="location">
          <span class="name"><a data-analytics-category="event_brief" data-analytics-label="venue_name" href="/venues/2448609-oslo-hackney">Oslo Hackney</a>,</span>
          <span>London, UK</span>
        </div>
        <div class="line-up">
          Line-up:
          <span class="headliner">
            <a data-analytics-category="event_brief" data-analytics-label="line_up_artist" href="/artists/4601908-alabama-shakes">Alabama Shakes</a></span>
          </div>
        </div>
        <div class="interested-actions">
          <a href="#" class="button">I'm interested</a>
        </div>
      </div>
    </div>
  </div>
</div>