button, .button, input[type=submit] {
	background: transparent;
	color: $darkest-grey;
	padding: .7rem .7rem .6rem;
	border: .2rem solid rgba($darkest-grey,.5);
	border-radius: .5rem;
	font: 500 1.3rem $font-family-sans-serif;
	margin: 0;
	transition: all $fast-animation-speed;
	&:focus, &:hover { background: none; color: $darkest-grey; }
}

// counts positioned next to buttons
.amount { display: inline-block; position: relative; background: $white; color: $black; border-radius: .3rem; padding: .8rem 1rem .7rem; margin-left: .5rem; font-size: 1.2rem; font-family: $font-family-sans-serif; }
.amount::after { content: ""; position: absolute; right: 100%; top: 50%; width: 0; height: 0; border: 5px solid; border-color: transparent $white transparent transparent; margin-top: -5px; }

// form buttons
.actions button, .actions .button, .actions input[type=submit] { border-color: $teal; background-color: $teal; color: $white; padding: 1rem 2.5rem; }
.actions button:focus, .actions button:hover, .actions .button:focus, .actions .button:hover, .actions input[type=submit]:focus, .actions input[type=submit]:hover { border-color: $darkest-grey; background-color: $darkest-grey; }
