#embed-box {
  padding: 9rem 2rem 4rem; 
}

.embed-button {
  float: right;
  padding: .9rem .7rem .7rem;
  margin-right: 1rem;
}

.embed-content {
  padding-top: 0;
}

.embed-content .article-market {
  min-height: 185px;
}

.embed-banner {
  background: #fff;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}